*{
    margin: 0;
    padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

.icon {
  width: 1.6em;
  height: 1.6em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.homeicon {
  width: 1.4em;
  height: 1.4em;
  vertical-align: -0.3em;
  fill: currentColor;
  overflow: hidden;
}